.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
}

.about .leftSide {
  margin: auto;
  height: 100%;
  width: 50%;
  display: flex;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about .leftSide #codeSection {
  display: flex;
  margin-left: 5px;
  background-color: #303030;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 10px dashed white;
  overflow-y: scroll;
}

.about .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
}

.about .rightSide h1 {
  font-size: 5rem;
  margin-left: 15px;
}
.about .rightSide p {
  font-size: 1rem;
  margin-left: 15px;
  margin-right: 15px;
}

@media only screen and (max-width: 600px) {
  .about {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .about .leftSide {
    width: 95%;
  }
  .about .rightSide {
    display: flex;
    flex-direction: column;
  }
}
