.contact {
  background-color: var(--myWhite);
  width: 100%;
  height: 90vh;
  display: flex;
}

.contact a {
  text-decoration: none;
  color: var(--myWhite);
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-weight: 10;
  font-size: 3rem;
  margin-left: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  font-size: 1rem;
  padding: 5px;
  height: 40px;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  border-right: 1px solid var(--darkBlue);
  border-bottom: 1px solid var(--darkBlue);
}

form textarea {
  font-size: 1rem;
  padding: 5px;
  height: 70px;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  border-right: 1px solid var(--darkBlue);
  border-bottom: 1px solid var(--darkBlue);
}

form input:focus,
textarea:focus {
  outline: none;
}

form label {
  font-size: 1rem;
  margin-top: 15px;
  color: var(--darkBlue);
}

form #linkId {
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

form #submitButton {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: var(--darkBlue);
  color: var(--myWhite);
  font-size: 1.5rem;
  cursor: pointer;
}

form #submitButton:hover {
  color: var(--darkBlue);
  background-color: var(--lightBlue);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
}
